/* index.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%; /* Используем height вместо min-height */
}

.apartment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 16px auto; /* Добавляем отступ сверху */
  padding: 0 16px; /* Удобство для мобильных */
}

button {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .apartment-list {
    flex-direction: column; /* Карточки в один столбец */
    padding: 0 8px; /* Меньше отступов на маленьких экранах */
  }
}
